<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Информация о друге</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Имя: {{ person }}</h1>
        </div>
        <div class="row">
            <h1>Возраст: {{ age }}</h1>
        </div>
        <div class="row">
            {% if person_books|length == 0 %}
                <h1>Книги: Пока еще нет ни одной</h1>
            {% else %}
                <h1>Книги: </h1>
                <ul>
                    {% for person_book in person_books %}
                        <li>{{ person_book.title }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="row">
            <div class="col">
                <form action="/add_book/" method="post">
                    {% csrf_token %}
                    <select name="book">
                        {% for book in books %}
                            <option value="{{ book }}">{{ book }}</option>
                        {% endfor %}
                    </select>
                    <p><input type="hidden" name="id" value="{{ friend_id }}"></p>
                    <p><input type="submit" value="Добавить книгу"></p>
                </form>
            </div>
            <div class="col">
                <form action="/delete_book/" method="post">
                    {% csrf_token %}
                    <select name="book">
                        {% for person_book in person_books %}
                            <option value="{{ person_book }}">{{ person_book }}</option>
                        {% endfor %}
                    </select>
                    <p><input type="hidden" name="id" value="{{ friend_id }}"></p>
                    <p><input type="submit" value="Вернуть книгу"></p>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="{% url 'index' %}">Home</a>
            </div>
            <div class="col">
                <a href="{% url 'friends_list' %}">Список друзей</a>
            </div>
        </div>
    </div>
</body>
</html>