<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Издательства и книги</title>
</head>
<body>
    {% for item in pb_houses_books %}
        <ul>
            <li><h1>{{ item.pb_house }}</h1></li>
            {% for book in item.books %}
                <li>{{ book }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
    <a href="{% url 'index' %}">Home</a>
</body>
</html>